:root {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 15%;
}

header h1 {
    padding: 2% 3%;
}

header h1 img {
    height: 60%;
}

.container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-input {
    width: 60%;
    height: 95%;
}

.section-input form {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 100%;
}

.section-input form textarea {
    font-size: 3.4rem;
    width: 100%;
    height: 50%;
    line-height: 120%;
    color: #0A3871;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 10px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.btns-actions {
    width: 90%;
    height: 20%;
    margin: 0 auto;
    margin-top: 15%;
}

.btns-actions p {
    font-size: 1.6rem;
    text-align: left;
    color: #65747D;
}

.btn {
    border-radius: 24px;
    border: none;
    font-size: 1.8rem;
    padding: 1.6rem;
    margin: 1rem 3rem;
    width: 40%;
}

.btn:hover {
    cursor: pointer;
}

.btn-blue {
    color: #FFF;
    background: #0A3871;
    transition: 1s all;
}

.btn-blue:hover {
    background: #356EA9;
}

.btn-gray {
    color: #0A3871;
    background: #FFFF;
    border: 1px solid #0A3871;
    transition: 1s all;
}

.btn-gray:hover {
    background: #D8DFE8;
}

.section-result {
    background: #FFF;
    text-align: center;
    display: flex;
    margin-left: 5%;
    align-items: center;
    border: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    width: 30%;
    height: 106%;
    position: relative;
    top: -10%;
}

.result-placeholder {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.result-placeholder img {
    width: 80%;
}

.result-placeholder p:nth-child(2) {
    line-height: 120%;
    font-weight: bold;
    color: #343A40;
    padding: 5%;
    font-size: 2.4rem;
    box-sizing: border-box;
}

.result-placeholder p:nth-child(3) {
    line-height: 120%;
    color: #495057;
    padding-bottom: 5%;
    box-sizing: border-box;
    font-size: 2rem;
}

/*message result*/
.message-result {
    width: 95%;
    height: 95%;
    margin: auto;
    border: none;
    background: transparent;
}

.message-result textarea {
    color: #343A40;
    border: none;
    width: 90%;
    font-size: 2.4rem;
    height: 70%;
    margin-bottom: 20%;
}

footer {
    width: 100%;
    height: 5%;
    font-size: 1.6rem;
    color: #FFF;
    background: #343A40;
}

.copyright {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.copyright a {
    margin-left: 1rem;
    text-decoration: none;
}

.copyright svg {
    width: 2rem;
    height: 2rem;
    fill: #FFF;
}


/* Style for tablet devices*/
@media screen and (max-width:900px) {
    header {
        box-sizing: border-box;
        width: 100%;
        height: 10%;
    }

    header h1 {
        padding: 4.5%;
    }

    header h1 img {
        height: 5vh;
    }

    .container {
        width: 100%;
        height: 85%;
        display: block;
        position: static;
    }

    .section-input {
        width: 100%;
        height: 60%;
    }

    .section-input form {
        width: 90%;
        height: 100%;
    }

    .section-input form textarea {
        font-size: 3.4rem;
        height: 75%;
    }

    .btn {
        font-size: 1.8rem;
        padding: 1.6rem;
        margin: 1rem 3rem;
        width: 40%;
    }

    .btns-actions {
        box-sizing: border-box;
        padding-top: 2rem;
        height: 20%;
        margin: 0 auto;
        flex-direction: row;
    }

    .btns-actions p {
        font-size: 1.8rem;
    }

    .btns-actions p span {
        font-size: 2rem;
    }

    .section-result {
        width: 90%;
        height: 35%;
        margin: 0 auto;
        position: static;
        top: 0;
    }

    .result-placeholder img {
        display: none;
    }

    .result-placeholder {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .result-placeholder p:nth-child(2) {
        font-size: 3.4rem;
    }

    .result-placeholder p:nth-child(3) {
        font-size: 2.4rem;
    }

    /*message result*/
    .message-result textarea {
        font-size: 2.4rem;
        height: 75%;
        margin: 0;
    }

    footer {
        font-size: 1.6rem;
    }
}

/*Styles for mobil device view*/
@media screen and (max-width:600px) {
    header {
        box-sizing: border-box;
        width: 100%;
        height: 10%;
    }

    header h1 img {
        height: 5vh;
    }

    .section-input {
        width: 100%;
        height: 60%;
    }

    .section-input form {
        width: 90%;
        height: 100%;
    }

    .section-input form textarea {
        font-size: 2.4rem;
        height: 60%;
    }

    .btn {
        font-size: 1.8rem;
        padding: 1rem;
        margin: 0.5rem 0;
        width: 100%;
    }

    .btns-actions {
        box-sizing: border-box;
        padding-top: 1.6rem;
        height: 40%;
    }

    .btns-actions p {
        font-size: 1.2rem;
    }

    .btns-actions p span {
        font-size: 1.4rem;
    }

    .section-result {
        width: 90%;
        height: 35%;
        margin: 0 auto;
    }

    .result-placeholder img {
        display: none;
    }

    .result-placeholder p:nth-child(2) {
        font-size: 2.4rem;
    }

    .result-placeholder p:nth-child(3) {
        font-size: 1.6rem;
    }

    /*message result*/
    .message-result textarea {
        border: none;
        width: 90%;
        font-size: 1.8rem;
        height: 75%
    }

    footer {
        font-size: 1.6rem;
    }
}